interactions:
- request:
    body: '{"content": "Hello world.", "entityId": "cm5ifmwfo001g24d2r7fzu34u", "entityType":
      "MARKET", "parentId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.playmoney.dev/v1/comments
  response:
    body:
      string: '{"data":{"id":"cm8whb44l0003s1kx41azkxam","content":"Hello world.","createdAt":"2025-03-31T02:57:38.470Z","updatedAt":"2025-03-31T02:57:38.470Z","edited":false,"authorId":"clzrooq660000a2uznm33y25b","parentId":null,"hidden":false,"entityType":"MARKET","entityId":"cm5ifmwfo001g24d2r7fzu34u","parent":null}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/comments
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::qgksz-1743389858398-a012e2c58fba
    status:
      code: 200
      message: OK
- request:
    body: '{"content": "Hello world?"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.playmoney.dev/v1/comments/cm8whb44l0003s1kx41azkxam
  response:
    body:
      string: '{"data":{"id":"cm8whb44l0003s1kx41azkxam","content":"Hello world?","createdAt":"2025-03-31T02:57:38.470Z","updatedAt":"2025-03-31T02:57:38.906Z","edited":true,"authorId":"clzrooq660000a2uznm33y25b","parentId":null,"hidden":false,"entityType":"MARKET","entityId":"cm5ifmwfo001g24d2r7fzu34u"}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/comments/[id]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::v25kj-1743389858826-8b0aed9e8b1b
    status:
      code: 200
      message: OK
- request:
    body: '{"emoji": ":+1:"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.playmoney.dev/v1/comments/cm8whb44l0003s1kx41azkxam/reaction
  response:
    body:
      string: '{"data":{"id":"cm8whb4mq0009s1kxbxo97clp","emoji":":+1:","userId":"clzrooq660000a2uznm33y25b","commentId":"cm8whb44l0003s1kx41azkxam","comment":{"id":"cm8whb44l0003s1kx41azkxam","content":"Hello
        world?","createdAt":"2025-03-31T02:57:38.470Z","updatedAt":"2025-03-31T02:57:38.906Z","edited":true,"authorId":"clzrooq660000a2uznm33y25b","parentId":null,"hidden":false,"entityType":"MARKET","entityId":"cm5ifmwfo001g24d2r7fzu34u"}}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/comments/[id]/reaction
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::jj7zs-1743389859047-f6ee8782662c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/comments/cm8whb44l0003s1kx41azkxam
  response:
    body:
      string: '{"error":"Comment with id \"cm8whb44l0003s1kx41azkxam\" not found"}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/comments/[id]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::r6qz7-1743389859673-f789f57f35c3
    status:
      code: 404
      message: Not Found
version: 1
