interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/comments/cm5j3371q008elbahtrgixruy
  response:
    body:
      string: '{"data":{"id":"cm5j3371q008elbahtrgixruy","content":"<p>i bought yes
        and the price went down??? is that supposed to happen</p>","createdAt":"2025-01-05T03:59:27.086Z","updatedAt":"2025-01-05T03:59:27.086Z","edited":false,"authorId":"cm3ze0aqx0000kpj5ai4nv5tm","parentId":null,"hidden":false,"entityType":"MARKET","entityId":"cm5ifmwfo001g24d2r7fzu34u","author":{"id":"cm3ze0aqx0000kpj5ai4nv5tm","username":"evergreenemily","displayName":"evergreen","avatarUrl":"https://bijbnpk9x6qrvjzj.public.blob.vercel-storage.com/sylv-pYNxZMAqSeu42eKyzLaoUp8baQsdxb.png","twitterHandle":null,"discordHandle":null,"website":null,"bio":"28
        y.o. trans woman pursuing a graduate degree in ecology and biogeography. obsessed
        with nintendo and pokemon","timezone":"America/Los_Angeles","primaryAccountId":"cm3ze0aqx0001kpj5r2w3qusm","role":"USER","referralCode":"4UNA","referredBy":null,"createdAt":"2024-11-27T04:30:01.834Z","updatedAt":"2024-12-18T22:02:14.937Z"},"reactions":[{"id":"cm5jwu6kf0001110nhcg2lbgi","emoji":":smiling_face_with_tear:","userId":"clzrooq660000a2uznm33y25b","commentId":"cm5j3371q008elbahtrgixruy","user":{"id":"clzrooq660000a2uznm33y25b","username":"jgyou","displayName":"jgyou","avatarUrl":null,"twitterHandle":null,"discordHandle":null,"website":null,"bio":"https://manifold.markets/jgyou","timezone":"America/New_York","primaryAccountId":"c66cc328ef6c13d1767417889","role":"USER","referralCode":"J2P2","referredBy":null,"createdAt":"2024-08-13T00:27:58.974Z","updatedAt":"2024-10-01T05:40:44.407Z"}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/comments/[id]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::szn8q-1743196775719-53305ec37d29
    status:
      code: 200
      message: OK
[...]
