interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/leaderboard?year=2025&month=1
  response:
    body:
      string: "{\"data\":{\"topTraders\":[{\"userId\":\"cm187b8bu0000cw75xkzmm59o\",\"displayName\":\"CC\",\"username\":\"CC\",\"avatarUrl\":\"https://bijbnpk9x6qrvjzj.public.blob.vercel-storage.com/1620506001490-nyPYHpK45qJRwl0Te6l5rsT5orzJTa.jpg\",\"total\":12219,\"rank\":1},{\"userId\":\"clykuewwe0000g4933zh8btxa\",\"displayName\":\"Odoacre\",\"username\":\"odoacre\",\"avatarUrl\":\"https://bijbnpk9x6qrvjzj.public.blob.vercel-storage.com/0_3.avatar2-xNMeVv9NeA9J9d5oBvQdyUE54d30oK.png\",\"total\":6525,\"rank\":2},{\"userId\":\"cm4tkdlo100001135eqyos7k6\",\"displayName\":\"chiroyce\",\"username\":\"chiroyce\",\"avatarUrl\":null,\"total\":5533,\"rank\":3},{\"userId\":\"cm0y2s1p70000eskmx6ks9n04\",\"displayName\":\"Alex
        B. Goode\",\"username\":\"alexbgoode\"[...]
[...]
