interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/lists?limit=10&sortDirection=asc
  response:
    body:
      string: "{\"data\":[{\"id\":\"cm1hnfd2n007b3pmm8bv292iz\",\"title\":\"What will
        be true of PlayMoney when it reaches 100 MAU?\",\"slug\":\"what-will-lead-to-playmoney-reaching-100-mau-by\",\"description\":\"
        \ <p>Feel free to add your own suggestions!</p><p>Will resolve YES on any
        options that are executed on by the time PlayMoney reaches 100 MAU. </p>\",\"ownerId\":\"clyaz02c500008my2vxivkyaa\",\"contributionPolicy\":\"PUBLIC\",\"contributionReview\":false,\"tags\":[\"business\",\"user-growth\",\"playmoney\",\"monthly-active-users\"],\"createdAt\":\"2024-09-25T09:14:25.386Z\",\"updatedAt\":\"2024-09-25T16:49:22.676Z\",\"owner\":{\"id\":\"clyaz02c500008my2vxivkyaa\",\"username\":\"case\",\"displayName\":\"case\",\"avatarUrl\":\"https://bijbnpk9x6qrvjzj.public.blob.vercel-storage.com/avatar-QWfsTq0SHCTa08Clp4GcVdOMJjgmhs.jpeg\",\"twitterHandle\":null,\"discordHandle\":null,\"website\":null,\"bio\":\"Feedback?
        case@casesandberg.com\",\"timezone\":\"America/Los_Angeles\",\"primaryAccountId\":\"c66cc328e34d813a5745e6584\",\"role\":\"ADMIN\",\"referralCode\":\"9PYU\",\"referredBy\":null,\"createdAt\":\"2024-07-07T03:04:56.790Z\",\"updatedAt\":\"2024-11-26T22:51:16.573Z\"},\"markets\":[{\"id\":\"cm1hnfd2n007c3pmm415zfmbx\",\"listId\":\"cm1hnfd2n007b3pmm8bv292iz\",\"marketId\":\"cm1hnf9zx00003pmmel5fqmym\",\"createdAt\":\"2024-09-25T09:14:25.386Z\",\"market\":{\"id\":\"cm1hnf9zx00003pmmel5fqmym\",\"question\":\"Referral
        program\",\"description\":\"<p>Feel free to add your own suggestions!</p><p>Will
        resolve YES on any options that are executed on before the end of the year
        that lead towards playmoney having 100 MAU. </p>\",\"slug\":\"referral-program\",\"closeDate\":\"2024-10-01T20:59:51.376Z\",\"resolvedAt\":\"2024-10-01T20:59:51.376Z\",\"canceledAt\":null,\"canceledById\":null,\"createdBy\":\"clyaz02c500008my2vxivkyaa\",\"tags\":[],\"ammAccountId\":\"cm1hnf9zx00033pmmp0xh9kup\",\"clearingAccountId\":\"cm1hnf9zx00043pmmub2a5iqb\",\"createdAt\":\"2024-09-25T09:14:21.405Z\",\"updatedAt\":\"2024-10-01T20:59:58.819Z\",\"commentCount\":2,\"uniqueTradersCount\":2,\"uniquePromotersCount\":0,\"liquidityCount\":3100,\"parentListId\":\"cm1hnfd2n007b3pmm8bv292iz\",\"options\":[{\"id\":\"cm1hnf9zx00013pmm9n2jsx4m\",\"name\":\"Yes\",\"marketId\":\"cm1hnf9zx00003pmmel5fqmym\",\"color\":\"#2196f3\",\"liquidityProbability\":\"0.5\",\"createdAt\":\"2024-09-25T09:14:21.403Z\",\"updatedAt\":\"2024-10-01T20:20:08.833Z\",\"probability\":94},{\"id\":\"cm1hnf9zx00023pmmkubjxzom\",\"name\":\"No\",\"marketId\":\"cm1hnf9zx00003pmmel5fqmym\",\"color\":\"#EC4899\",\"liquidityProbability\":\"0.5\",\"createdAt\":\"2024-09-25T09:14:21.404Z\",\"updatedAt\":\"2024-10-01T20:20:08.833Z\",\"probability\":6}],\"marketResolution\":{\"id\":\"cm1qx9o0h000212gq2nxkbvnj\",\"marketId\":\"cm1hnf9zx00003pmmel5fqmym\",\"resolvedById\":\"clyaz02c500008my2vxivkyaa\",\"resolutionId\":\"cm1hnf9zx00013pmm9n2jsx4m\",\"supportingLink\":null,\"createdAt\":\"2024-10-01T20:59:51.376Z\",\"updatedAt\":\"2024-10-01T20:59:51.376Z\",\"resolution\":{\"id\":\"cm1hnf9zx00013pmm9n2jsx4m\",\"name\":\"Yes\",\"marketId\":\"cm1hnf9zx00003pmmel5fqmym\",\"color\":\"#2196f3\",\"liquidityProbability\":\"0.5\",\"createdAt\":\"2024-09-25T09:14:21.403Z\",\"updatedAt\":\"2024-10-01T20:20:08.833Z\",\"probability\":94},\"resolvedBy\":{\"id\":\"clyaz02c500008my2vxivkyaa\",\"username\":\"case\",\"displayName\":\"case\",\"avatarUrl\":\"https://bijbnpk9x6qrvjzj.public.blob.vercel-storage.com/avatar-QWfsTq0SHCTa08Clp4GcVdOMJjgmhs.jpeg\",\"twitterHandle\":null,\"discordHandle\":null,\"website\":null,\"bio\":\"Feedback?
        case@casesandberg.com\",\"timezone\":\"America/Los_Angeles\",\"primaryAccountId\":\"c66cc328e34d813a5745e6584\",\"role\":\"ADMIN\",\"referralCode\":\"9PYU\",\"referredBy\":null,\"createdAt\":\"2024-07-07T03:[...]
[...]
