interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/lists/cm1npliun006q11x80i8lvcri
  response:
    body:
      string: '{"data":{"id":"cm1npliun006q11x80i8lvcri","title":"Best LLM at the
        end of the year?","slug":"best-llm-at-the-end-of-the-year","description":"","ownerId":"clzrooq660000a2uznm33y25b","contributionPolicy":"PUBLIC","contributionReview":false,"tags":["technology","llm","ai"],"createdAt":"2024-09-29T15:01:49.099Z","updatedAt":"2024-09-29T15:01:49.099Z"}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/lists/[id]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::xv9h4-1743224061417-fbc0efa0173d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/lists/cm1npliun006q11x80i8lvcri/balance
  response:
    body:
      string: '{"data":{"user":[],"userPositions":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/lists/[id]/balance
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::xhstl-1743224061810-ff193bc831a6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/lists/cm1npliun006q11x80i8lvcri/balance
  response:
    body:
      string: '{"data":{"user":[],"userPositions":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/lists/[id]/balance
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::tqlwq-1743224062164-69aa52203016
    status:
      code: 200
      message: OK
version: 1
