interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/lists/cm1npliun006q11x80i8lvcri
  response:
    body:
      string: '{"data":{"id":"cm1npliun006q11x80i8lvcri","title":"Best LLM at the
        end of the year?","slug":"best-llm-at-the-end-of-the-year","description":"","ownerId":"clzrooq660000a2uznm33y25b","contributionPolicy":"PUBLIC","contributionReview":false,"tags":["technology","llm","ai"],"createdAt":"2024-09-29T15:01:49.099Z","updatedAt":"2024-09-29T15:01:49.099Z"}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/lists/[id]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::r8p48-1743224235003-aa59d679640b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/lists/cm1npliun006q11x80i8lvcri/comments
  response:
    body:
      string: "{\"data\":[{\"id\":\"cm1nrfhsx000173cyoqj7rkmf\",\"content\":\"<p>Whoops.
        They should have been linked, and lists can't be edited. <br><br></p>\",\"createdAt\":\"2024-09-29T15:53:07.041Z\",\"updatedAt\":\"2024-09-29T15:53:07.041Z\",\"edited\":false,\"authorId\":\"clzrooq660000a2uznm33y25b\",\"parentId\":null,\"hidden\":false,\"entityType\":\"LIST\",\"entityId\":\"cm1npliun006q11x80i8lvcri\",\"author\":{\"id\":\"clzrooq660000a2uznm33y25b\",\"username\":\"jgyou\",\"displayName\":\"jgyou\",\"avatarUrl\":null,\"twitterHandle\":null,\"discordHandle\":null,\"website\":null,\"bio\":\"https://manifold.markets/jgyou\",\"timezone\":\"America/New_York\",\"primaryAccountId\":\"c66cc328ef6c13d1767417889\",\"role\":\"USER\",\"referralCode\":\"J2P2\",\"referredBy\":null,\"createdAt\":\"2024-08-13T00:27:58.974Z\",\"updatedAt\":\"2024-10-01T05:40:44.407Z\"},\"reactions\":[]},{\"id\":\"cm1nul19m0001hdkk8ircnmea\",\"content\":\"<p>Oh
        no!! Want me to delete this on my end since there is no delete feature yet?</p>\",\"createdAt\":\"2024-09-29T17:21:24.394Z\",\"updatedAt\":\"2024-09-29T17:21:24.394Z\",\"edited\":false,\"authorId\":\"clyaz02c500008my2vxivkyaa\",\"parentId\":\"cm1nrfhsx000173cyoqj7rkmf\",\"hidden\":false,\"entityType\":\"LIST\",\"entityId\":\"cm1npliun006q11x80i8lvcri\",\"author\":{\"id\":\"clyaz02c500008my2vxivkyaa\",\"username\":\"case\",\"di[...]
[...]
