interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/markets/cm5ifmwfo001g24d2r7fzu34u
  response:
    body:
      string: '{"data":{"id":"cm5ifmwfo001g24d2r7fzu34u","question":"Playmoney API
        python wrapper in January 2025?","description":"<p>I plan to create a manifoldpy-style
        wrapper for playmoney.</p><p>Resolves to YES if all basic API actions can
        be performed using publicly available code at the end of the month.</p>","slug":"playmoney-api-python-wrapper-in-january-2025","closeDate":"2025-02-03T23:50:54.104Z","resolvedAt":"2025-02-03T23:50:54.104Z","canceledAt":null,"canceledById":null,"createdBy":"clzrooq660000a2uznm33y25b","tags":["programming","api","python","playmoney","software-development"],"ammAccountId":"cm5ifmwfo001j24d2s5b1c7t3","clearingAccountId":"cm5ifmwfo001k24d2kb21lr27","createdAt":"2025-01-04T17:02:55.669Z","updatedAt":"2025-02-03T23:50:54.104Z","commentCount":4,"uniqueTradersCount":5,"uniquePromotersCount":100,"liquidityCount":1816,"parentListId":null}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/markets/[id]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::9rr9d-1743131039965-2136d1425a26
    status:
      code: 200
      message: OK
version: 1
