interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/markets/cm5ifmwfo001g24d2r7fzu34u
  response:
    body:
      string: '{"data":{"id":"cm5ifmwfo001g24d2r7fzu34u","question":"Playmoney API
        python wrapper in January 2025?","description":"<p>I plan to create a manifoldpy-style
        wrapper for playmoney.</p><p>Resolves to YES if all basic API actions can
        be performed using publicly available code at the end of the month.</p>","slug":"playmoney-api-python-wrapper-in-january-2025","closeDate":"2025-02-03T23:50:54.104Z","resolvedAt":"2025-02-03T23:50:54.104Z","canceledAt":null,"canceledById":null,"createdBy":"clzrooq660000a2uznm33y25b","tags":["programming","api","python","playmoney","software-development"],"ammAccountId":"cm5ifmwfo001j24d2s5b1c7t3","clearingAccountId":"cm5ifmwfo001k24d2kb21lr27","createdAt":"2025-01-04T17:02:55.669Z","updatedAt":"2025-02-03T23:50:54.104Z","commentCount":4,"uniqueTradersCount":5,"uniquePromotersCount":100,"liquidityCount":1816,"parentListId":null}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/markets/[id]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::m5rlr-1743337610299-68c988946c3c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/markets/cm5ifmwfo001g24d2r7fzu34u/balance
  response:
    body:
      string: '{"data":{"amm":[{"id":"cm5ifmwmr002324d2q5pdx421","accountId":"cm5ifmwfo001j24d2s5b1c7t3","assetType":"MARKET_OPTION","assetId":"cm5ifmwfo001h24d210bt6ek1","total":0.00003224087702,"subtotals":{"TRADE_BUY":-408.7893146483885,"TRADE_WIN":-499.364406779661,"TRADE_LOSS":1374.789314648388,"TRADE_SELL":153.5340390205383,"LIQUIDITY_DEPOSIT":350,"LIQUIDITY_RETURNED":-250,"LIQUIDITY_INITIALIZE":500},"marketId":"cm5ifmwfo001g24d2r7fzu34u","createdAt":"2025-01-04T17:02:55.921Z","updatedAt":"2025-02-03T23:50:54.729Z"},{"id":"cm5ifmwmr002724d23uvmv7gd","accountId":"cm5ifmwfo001j24d2s5b1c7t3","assetType":"MARKET_OPTION","assetId":"cm5ifmwfo001i24d2ff3ul1sj","total":0.00003224087743,"subtotals":{"TRADE_BUY":1183.635593220339,"TRADE_SELL":-563.4659609794617,"LIQUIDITY_DEPOSIT":350,"LIQUIDITY_RETURNED":-250,"LIQUIDITY_INITIALIZE":500},"marketId":"cm5ifmwfo001g24d2r7fzu34u","createdAt":"2025-01-04T17:02:55.921Z","updatedAt":"2025-02-03T23:50:54.729Z"}],"user":[],"userPositions":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/markets/[id]/balance
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::spszk-1743337610433-211fcd6de085
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/markets/cm5ifmwfo001g24d2r7fzu34u/balance
  response:
    body:
      string: '{"data":{"amm":[{"id":"cm5ifmwmr002324d2q5pdx421","accountId":"cm5ifmwfo001j24d2s5b1c7t3","assetType":"MARKET_OPTION","assetId":"cm5ifmwfo001h24d210bt6ek1","total":0.00003224087702,"subtotals":{"TRADE_BUY":-408.7893146483885,"TRADE_WIN":-499.364406779661,"TRADE_LOSS":1374.789314648388,"TRADE_SELL":153.5340390205383,"LIQUIDITY_DEPOSIT":350,"LIQUIDITY_RETURNED":-250,"LIQUIDITY_INITIALIZE":500},"marketId":"cm5ifmwfo001g24d2r7fzu34u","createdAt":"2025-01-04T17:02:55.921Z","updatedAt":"2025-02-03T23:50:54.729Z"},{"id":"cm5ifmwmr002724d23uvmv7gd","accountId":"cm5ifmwfo001j24d2s5b1c7t3","assetType":"MARKET_OPTION","assetId":"cm5ifmwfo001i24d2ff3ul1sj","total":0.00003224087743,"subtotals":{"TRADE_BUY":1183.635593220339,"TRADE_SELL":-563.4659609794617,"LIQUIDITY_DEPOSIT":350,"LIQUIDITY_RETURNED":-250,"LIQUIDITY_INITIALIZE":500},"marketId":"cm5ifmwfo001g24d2r7fzu34u","createdAt":"2025-01-04T17:02:55.921Z","updatedAt":"2025-02-03T23:50:54.729Z"}],"user":[],"userPositions":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/markets/[id]/balance
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::htz4z-1743337610580-d3ead490f90a
    status:
      code: 200
      message: OK
version: 1
