interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/markets/cm5ifmwfo001g24d2r7fzu34u/balances
  response:
    body:
      string: "{\"data\":{\"balances\":[{\"id\":\"cm5jihqmh000fcg5sraj0g4rn\",\"accountId\":\"c66cc328e3e0ffc8b38d99c45\",\"assetType\":\"CURRENCY\",\"assetId\":\"PRIMARY\",\"total\":379.396206779661,\"subtotals\":{\"TRADE_BUY\":-100,\"TRADE_WIN\":479.396206779661},\"marketId\":\"cm5ifmwfo001g24d2r7fzu34u\",\"createdAt\":\"2025-01-05T11:10:39.876Z\",\"updatedAt\":\"2025-02-03T23:50:54.428Z\",\"account\":{\"id\":\"c66cc328e3e0ffc8b38d99c45\",\"type\":\"USER\",\"internalType\":null,\"userId\":\"clydldvix0000rhznmgr36pt6\",\"marketId\":null,\"createdAt\":\"2024-08-26T07:45:17.509Z\",\"updatedAt\":\"2024-08-26T07:45:17.509Z\",\"userPrimary\":{\"id\":\"clydldvix0000rhznmgr36pt6\",\"username\":\"p\",\"displayName\":\"Pat
        Scott\U0001FA74\",\"avatarUrl\":\"https://bijbnpk9x6qrvjzj.public.blob.vercel-storage.com/20230925_235429-YGpAws1DhBaB2lpmcCjYwjTwWVIHR9.jpg\",\"twitterHandle\":null,\"discordHandle\":null,\"website\":null,\"bio\":null,\"timezone\":\"America/Los_Angeles\",\"primaryAccountId\":\"c66cc328e3e0ffc8b38d99c45\",\"role\":\"USER\",\"referralCode\":\"LDAW\",\"referredBy\":null,\"createdAt\":\"2024-07-08T23:07:05.049Z\",\"updatedAt\":\"2024-10-01T05:40:46.818Z\"}}}]}}"
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/markets/[id]/balances
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::x9cfp-1743339275583-f60a41330055
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/markets/cm5ifmwfo001g24d2r7fzu34u
  response:
    body:
      string: '{"data":{"id":"cm5ifmwfo001g24d2r7fzu34u","question":"Playmoney API
        python wrapper in January 2025?","description":"<p>I plan to create a manifoldpy-style
        wrapper for playmoney.</p><p>Resolves to YES if all basic API actions can
        be performed using publicly available code at the end of the month.</p>","slug":"playmoney-api-python-wrapper-in-january-2025","closeDate":"2025-02-03T23:50:54.104Z","resolvedAt":"2025-02-03T23:50:54.104Z","canceledAt":null,"canceledById":null,"createdBy":"clzrooq660000a2uznm33y25b","tags":["programming","api","python","playmoney","software-development"],"ammAccountId":"cm5ifmwfo001j24d2s5b1c7t3","clearingAccountId":"cm5ifmwfo001k24d2kb21lr27","createdAt":"2025-01-04T17:02:55.669Z","updatedAt":"2025-02-03T23:50:54.104Z","commentCount":4,"uniqueTradersCount":5,"uniquePromotersCount":100,"liquidityCount":1816,"parentListId":null}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/markets/[id]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::9wh49-1743339275710-377b0e647e19
    status:
      code: 200
      message: OK
[...]
