interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/markets/cm5ifmwfo001g24d2r7fzu34u
  response:
    body:
      string: '{"data":{"id":"cm5ifmwfo001g24d2r7fzu34u","question":"Playmoney API
        python wrapper in January 2025?","description":"<p>I plan to create a manifoldpy-style
        wrapper for playmoney.</p><p>Resolves to YES if all basic API actions can
        be performed using publicly available code at the end of the month.</p>","slug":"playmoney-api-python-wrapper-in-january-2025","closeDate":"2025-02-03T23:50:54.104Z","resolvedAt":"2025-02-03T23:50:54.104Z","canceledAt":null,"canceledById":null,"createdBy":"clzrooq660000a2uznm33y25b","tags":["programming","api","python","playmoney","software-development"],"ammAccountId":"cm5ifmwfo001j24d2s5b1c7t3","clearingAccountId":"cm5ifmwfo001k24d2kb21lr27","createdAt":"2025-01-04T17:02:55.669Z","updatedAt":"2025-02-03T23:50:54.104Z","commentCount":4,"uniqueTradersCount":5,"uniquePromotersCount":100,"liquidityCount":1816,"parentListId":null}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/markets/[id]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::g6vqr-1743196779232-a29fa8a9dff1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/markets/cm5ifmwfo001g24d2r7fzu34u/related
  response:
    body:
      string: '{"data":[{"id":"cm5mp85h100002uv5lsob04xa","question":"Will playmoney.dev
        raise *capital* from its members in 2025?","description":"<p>Not donation:
        actual ownership. In a coop style or something.</p>","slug":"will-playmoneydev-raise-capital-from-its-members","closeDate":"2025-12-31T17:00:00.000Z","resolvedAt":null,"canceledAt":null,"canceledById":null,"createdBy":"clzrooq660000a2uznm33y25b","tags":["finance","crowdfunding","playmoney","investment","capital-raising"],"ammAccountId":"cm5mp85h200032uv530pgpt7o","clearingAccountId":"cm5mp85h200042uv559izvy2c","createdAt":"2025-01-07T16:42:28.406Z","updatedAt":"2025-01-08T00:57:45.996Z","commentCount":1,"uniqueTradersCount":2,"uniquePromotersCount":950,"liquidityCount":1700,"parentListId":null,"user":{"id":"clzrooq660000a2uznm33y25b","username":"jgyou","displayName":"jgyou","avatarUrl":null,"twitterHandle":null,"discordHandle":null,"website":null,"bio":"https://manifold.markets/jgyou","timezone":"America/New_York","primaryAccountId":"c66cc328ef6c13d1767417889","role":"USER","referralCode":"J2P2","referredBy":null,"createdAt":"2024-08-13T00:27:58.974Z","updatedAt":"2024-10-01T05:40:44.407Z"},"options":[{"id":"cm5mp85h100022uv5mhe8yt8h","name":"No","marketId":"cm5mp85h100002uv5lsob04xa","color":"#8bc34a","liquidityProbability":"0.5","createdAt":"2025-01-07T16:42:28.404Z","updatedAt":"2025-01-08T00:57:46.241Z","probability":45},{"id":"cm5mp85h100012uv5islpg4e6","name":"Yes","marketId":"cm5mp85h100002uv5lsob04xa","color":"#2196f3","liquidityProbability":"0.5","createdAt":"2025-01-07T16:42:28.403Z","updatedAt":"2025-01-08T00:57:46.242Z","probability":55}],"marketResolution":null,"parentList":null,"sharedTagsCount":1}]}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/markets/[id]/related
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::ntmxc-1743196779328-714552e69a06
    status:
      code: 200
      message: OK
[...]
