interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/markets/cm5ifmwfo001g24d2r7fzu34u
  response:
    body:
      string: '{"data":{"id":"cm5ifmwfo001g24d2r7fzu34u","question":"Playmoney API
        python wrapper in January 2025?","description":"<p>I plan to create a manifoldpy-style
        wrapper for playmoney.</p><p>Resolves to YES if all basic API actions can
        be performed using publicly available code at the end of the month.</p>","slug":"playmoney-api-python-wrapper-in-january-2025","closeDate":"2025-02-03T23:50:54.104Z","resolvedAt":"2025-02-03T23:50:54.104Z","canceledAt":null,"canceledById":null,"createdBy":"clzrooq660000a2uznm33y25b","tags":["programming","api","python","playmoney","software-development"],"ammAccountId":"cm5ifmwfo001j24d2s5b1c7t3","clearingAccountId":"cm5ifmwfo001k24d2kb21lr27","createdAt":"2025-01-04T17:02:55.669Z","updatedAt":"2025-02-03T23:50:54.104Z","commentCount":4,"uniqueTradersCount":5,"uniquePromotersCount":100,"liquidityCount":1816,"parentListId":null}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/markets/[id]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::7mw2g-1743266629472-f43c2adce8bb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/markets/cm5ifmwfo001g24d2r7fzu34u/activity
  response:
    body:
      string: "{\"data\":[{\"type\":\"MARKET_RESOLVED\",\"timestampAt\":\"2025-02-03T23:50:54.104Z\",\"marketResolution\":{\"id\":\"cm6ppf4480002146uoh2izs1h\",\"marketId\":\"cm5ifmwfo001g24d2r7fzu34u\",\"resolvedById\":\"clzrooq660000a2uznm33y25b\",\"resolutionId\":\"cm5ifmwfo001i24d2ff3ul1sj\",\"supportingLink\":null,\"createdAt\":\"2025-02-03T23:50:54.104Z\",\"updatedAt\":\"2025-02-03T23:50:54.104Z\",\"resolution\":{\"id\":\"cm5ifmwfo001i24d2ff3ul1sj\",\"name\":\"No\",\"marketId\":\"cm5ifmwfo001g24d2r7fzu34u\",\"color\":\"#607d8b\",\"liquidityProbability\":\"0.5\",\"createdAt\":\"2025-01-04T17:02:55.668Z\",\"updatedAt\":\"2025-01-11T12:17:35.887Z\",\"probability\":29},\"resolvedBy\":{\"id\":\"clzrooq660000a2uznm33y25b\",\"username\":\"jgyou\",\"displayName\":\"jgyou\",\"avatarUrl\":null,\"twitterHandle\":null,\"discordHandle\":null,\"website\":null,\"bio\":\"https://manifold.markets/jgyou\",\"timezone\":\"America/New_York\",\"primaryAccountId\":\"c66cc328ef6c13d1767417889\",\"role\":\"USER\",\"referralCode\":\"J2P2\",\"referredBy\":null,\"createdAt\":\"2024-08-13T00:27:58.974Z\",\"updatedAt\":\"2024-10-01T05:40:44.407Z\"},\"market\":{\"id\":\"cm5ifmwfo001g24d2r7fzu34u\",\"question\":\"Playmoney
        API python wrapper in January 2025?\",\"description\":\"<p>I plan to create
        a manifoldpy-style wrapper for playmoney.</p><p>Resolves to YES if all basic
        API actions can be performed using publicly available code at the end of the
        month.</p>\",\"slug\":\"playmoney-api-python-wrapper-in-january-2025\",\"closeDate\":\"2025-02-03T23:50:54.104Z\",\"resolvedAt\":\"2025-02-03T23:50:54.104Z\",\"canceledAt\":null,\"canceledById\":null,\"createdBy\":\"clzrooq660000a2uznm33y25b\",\"tags\":[\"programming\",\"api\",\"python\",\"playmoney\",\"software-development\"],\"ammAccountId\":\"cm5ifmwfo001j24d2s5b1c7t3\",\"clearingAccountId\":\"cm5ifmwfo001k24d2kb21lr27\",\"createdAt\":\"2025-01-04T17:02:55.669Z\",\"updatedAt\":\"2025-02-03T23:50:54.104Z\",\"commentCount\":4,\"uniqueTradersCount\":5,\"uniquePromotersCount\":100,\"liquidityCount\":1816,\"parentListId\":null}}},{\"transactions\":[{\"id\":\"cm5s5iwrf0002xu0eccd85g10\",\"type\":\"TRADE_BUY\",\"initiatorId\":\"cm1806j9500003rjviym3v9c8\",\"isReverse\":null,\"reverseOfId\":null,\"createdAt\":\"2025-01-11T12:17:35.060Z\",\"updatedAt\":\"2025-01-11T12:17:35.060Z\",\"batchId\":null,\"marketId\":\"cm5ifmwfo001g24d2r7fzu34u\",\"entries\":[{\"id\":\"cm5s5iwrf0004xu0e92xu80mu\",\"amount\":\"100\",\"assetType\":\"CURRENCY\",\"assetId\":\"PRIMARY\",\"fromAccountId\":\"cm1806j9500013rjvbsnipdnv\",\"toAccountId\":\"cm5ifmwfo001k24d2kb21lr27\",\"transactionId\":\"cm5s5iwrf0002xu0eccd85g10\",\"createdAt\":\"2025-01-11T12:17:35.060Z\"},{\"id\":\"cm5s5iwrf0005xu0esm70qs0u\",\"amount\":\"100\",\"assetType\":\"MARKET_OPTION\",\"assetId\":\"cm5ifmwfo001i24d2ff3ul1sj\",\"fromAccountId\":\"cm5ifmwfo001k24d2kb21lr27\",\"toAccountId\":\"cm5ifmwfo001j24d2s5b1c7t3\",\"transactionId\":\"cm5s5iwrf0002xu0eccd85g10\",\"createdAt\":\"2025-01-11T12:17:35.060Z\"},{\"id\":\"cm5s5iwrf0006xu0edetkhgf6\",\"amount\":\"100\",\"assetType\":\"MARKET_OPTION\",\"assetId\":\"cm5ifm[...]
