interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/markets/cm5ifmwfo001g24d2r7fzu34u
  response:
    body:
      string: '{"data":{"id":"cm5ifmwfo001g24d2r7fzu34u","question":"Playmoney API
        python wrapper in January 2025?","description":"<p>I plan to create a manifoldpy-style
        wrapper for playmoney.</p><p>Resolves to YES if all basic API actions can
        be performed using publicly available code at the end of the month.</p>","slug":"playmoney-api-python-wrapper-in-january-2025","closeDate":"2025-02-03T23:50:54.104Z","resolvedAt":"2025-02-03T23:50:54.104Z","canceledAt":null,"canceledById":null,"createdBy":"clzrooq660000a2uznm33y25b","tags":["programming","api","python","playmoney","software-development"],"ammAccountId":"cm5ifmwfo001j24d2s5b1c7t3","clearingAccountId":"cm5ifmwfo001k24d2kb21lr27","createdAt":"2025-01-04T17:02:55.669Z","updatedAt":"2025-02-03T23:50:54.104Z","commentCount":4,"uniqueTradersCount":5,"uniquePromotersCount":100,"liquidityCount":1816,"parentListId":null}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/markets/[id]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::llk9h-1743196778138-7921fd98a31b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/markets/cm5ifmwfo001g24d2r7fzu34u/graph
  response:
    body:
      string: '{"data":[{"startAt":"2025-01-04T17:02:55.669Z","endAt":"2025-01-04T18:02:55.669Z","options":[{"id":"cm5ifmwfo001h24d210bt6ek1","probability":85},{"id":"cm5ifmwfo001i24d2ff3ul1sj","probability":15}]},{"startAt":"2025-01-04T18:02:55.669Z","endAt":"2025-01-04T19:02:55.669Z","options":[{"id":"cm5ifmwfo001h24d210bt6ek1","probability":85},{"id":"cm5ifmwfo001i24d2ff3ul1sj","probability":15}]},{"startAt":"2025-01-04T19:02:55.669Z","endAt":"2025-01-04T20:02:55.669Z","options":[{"id":"cm5ifmwfo001h24d210bt6ek1","probability":85},{"id":"cm5ifmwfo001i24d2ff3ul1sj","probability":15}]},{"startAt":"2025-01-04T20:02:55.669Z","endAt":"2025-01-04T21:0[...]
[...]
