interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/markets?status=all&limit=10&sortDirection=asc
  response:
    body:
      string: "{\"data\":[{\"id\":\"clyb2d752000187vulejn4j73\",\"question\":\"Will
        Play Money make it out of alpha by the end of August 2024?\",\"description\":\"<p>Resolves
        true if Play Money is considered to be in \\\"BETA\\\" by August 31st. This
        would include us properly tracking profits, having multiple choice markets
        and general user onboarding.</p>\",\"slug\":\"will-play-money-make-it-out-of-alpha-by-the-end\",\"closeDate\":\"2024-09-05T05:42:00.326Z\",\"resolvedAt\":\"2024-09-05T05:42:00.326Z\",\"canceledAt\":null,\"canceledById\":null,\"createdBy\":\"clyaz02c500008my2vxivkyaa\",\"tags\":[\"finance\",\"digital-currency\",\"play-money\",\"alpha-testing\"],\"ammAccountId\":\"c66cc328e149f392607f38977\",\"clearingAccountId\":\"c66cc328e3b04673506af0add\",\"createdAt\":\"2024-07-07T04:39:07.366Z\",\"updatedAt\":\"2024-09-09T00:25:05.501Z\",\"commentCount\":5,\"uniqueTradersCount\":1,\"uniquePromotersCount\":1,\"liquidityCount\":1500,\"parentListId\":null,\"user\":{\"id\":\"clyaz02c500008my2vxivkyaa\",\"username\":\"case\",\"displayName\":\"case\",\"avatarUrl\":\"https://bijbnpk9x6qrvjzj.public.blob.vercel-storage.com/avatar-QWfsTq0SHCTa08Clp4GcVdOMJjgmhs.jpeg\",\"twitterHandle\":null,\"discordHandle\":null,\"website\":null,\"bio\":\"Feedback?
        case@casesandberg.com\",\"timezone\":\"America/Los_Angeles\",\"primaryAccountId\":\"c66cc328e34d813a5745e6584\",\"role\":\"ADMIN\",\"referralCode\":\"9PYU\",\"referredBy\":null,\"createdAt\":\"2024-07-07T03:04:56.790Z\",\"updatedAt\":\"2024-11-26T22:51:16.573Z\"},\"options\":[{\"id\":\"clyb2d752000387vu39umlx1x\",\"name\":\"No\",\"marketId\":\"clyb2d752000187vulejn4j73\",\"color\":\"#EC4899\",\"liquidityProbability\":\"0.5\",\"createdAt\":\"2024-07-07T04:39:08.320Z\",\"updatedAt\":\"2024-09-14T07:48:25.914Z\",\"probability\":30},{\"id\":\"clyb2d752000287vuu3oszds7\",\"name\":\"Yes\",\"marketId\":\"clyb2d752000187vulejn4j73\",\"color\":\"#3B82F6\",\"liquidityProbability\":\"0.5\",\"createdAt\":\"2024-07-07T04:39:08.319Z\",\"updatedAt\":\"2024-09-04T23:01:30.374Z\",\"probability\":69}],\"marketResolution\":{\"id\":\"cm0ov15l3004cq1wgq011hly7\",\"marketId\":\"clyb2d752000187vulejn4j73\",\"resolvedById\":\"clyaz02c500008my2vxivkyaa\",\"resolutionId\":\"clyb2d752000287vuu3oszds7\",\"supportingLink\":null,\"createdAt\":\"2024-09-05T05:42:00.326Z\",\"updatedAt\":\"2024-09-05T05:42:00.326Z\",\"resolution\":{\"id\":\"clyb2d752000287vuu3oszds7\",\"name\":\"Yes\",\"marketId\":\"clyb2d752000187vulejn4j73\",\"color\":\"#3B82F6\",\"liquidityProbability\":\"0.5\",\"createdAt\":\"2024-07-07T04:39:08.319Z\",\"updatedAt\":\"2024-09-04T23:01:30.374Z\",\"probability\":69},\"resolvedBy\":{\"id\":\"clyaz02c500008my2vxivkyaa\",\"username\":\"case\",\"displayName\":\"case\",\"avatarUrl\":\"https://bijbnpk9x6qrvjzj.public.blob.vercel-storage.com/avatar-QWfsTq0SHCTa08Clp4GcVdOMJjgmhs.jpeg\",\"twitterHandle\":null,\"discordHandle\":null,\"website\":null,\"bio\":\"Feedback?
        case@casesandberg.com\",\"timezone\":\"America/Los_Angeles\",\"primaryAccountId\":\"c66cc328e34d813a5745e6584\",\"role\":\"ADMIN\",\"referralCode\":\"9PYU\",\"referredBy\":null,\"createdAt\":\"2024-07-07T03:04:56.790Z\",\"updatedAt\":\"2024-11-26T22:51:16.573Z\"}},\"parentList\":null},{\"id\":\"clyc6m3yr000gwrsrtrvkt9yj\",\"question\":\"Will
        this dev version of play money have more than 10 users by July 14th?\",\"description\":\"\",\"slug\":\"will-this-dev-version-of-play-money-have-more\",\"closeDate\":\"2024-07-09T02:05:05.424Z\",\"resolvedAt\":\"2024-07-09T02:05:05.424Z\",\"canceledAt\":null,\"canceledById\":null,\"createdBy\":\"clyc6jn8o0000w4qr540q4mih\",\"tags\":[\"finance\",\"cryptocurrency\",\"user-growth\",\"play-money-development\"],\"ammAccountId\":\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/markets?cursor=clydnvuk100014llyu1nhdze8&status=all&limit=10&sortDirection=asc
  response:
    body:
      string: "{\"data\":[{\"id\":\"clydptzuq000g11g6m0mforj5\",\"question\":\"Will
        SpaceX Reach 100 Launches By 11:59pm Eastern Time On September 17th 2024?\",\"description\":\"<p>Per
        Data Provided By <a target=\\\"_blank\\\" rel=\\\"noopener ugc\\\" class=\\\"text-primary
        break-anywhere hover:underline hover:decoration-primary-400 hover:decoration-2
        active:underline active:decoration-primary-400\\\" href=\\\"https://nextspaceflight.com/launches/agency/past/1/?search=\\\"><strong><em>SPACEX
        PAST FLIGHTS MANIFEST</em></strong></a><br><strong><em>As Of End Of June 2024:
        44 (11.66/month)</em></strong></p>\",\"slug\":\"will-spacex-reach-100-launches-by-1159pm-eastern\",\"closeDate\":\"2024-09-26T19:10:29.942Z\",\"resolvedAt\":\"2024-09-26T19:10:29.942Z\",\"canceledAt\":null,\"canceledById\":null,\"createdBy\":\"clydlzq8j000erhznytueih89\",\"tags\":[\"space\",\"spacex\",\"space-launches\",\"spacex-launch-milestones\"],\"ammAccountId\":\"c66cc328e17fd93a7395762ce\",\"clearingAccountId\":\"c66cc328e35e012310bbc7c5f\",\"cre[...]
