interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/markets/cm5ifmwfo001g24d2r7fzu34u
  response:
    body:
      string: '{"data":{"id":"cm5ifmwfo001g24d2r7fzu34u","question":"Playmoney API
        python wrapper in January 2025?","description":"<p>I plan to create a manifoldpy-style
        wrapper for playmoney.</p><p>Resolves to YES if all basic API actions can
        be performed using publicly available code at the end of the month.</p>","slug":"playmoney-api-python-wrapper-in-january-2025","closeDate":"2025-02-03T23:50:54.104Z","resolvedAt":"2025-02-03T23:50:54.104Z","canceledAt":null,"canceledById":null,"createdBy":"clzrooq660000a2uznm33y25b","tags":["programming","api","python","playmoney","software-development"],"ammAccountId":"cm5ifmwfo001j24d2s5b1c7t3","clearingAccountId":"cm5ifmwfo001k24d2kb21lr27","createdAt":"2025-01-04T17:02:55.669Z","updatedAt":"2025-02-03T23:50:54.104Z","commentCount":4,"uniqueTradersCount":5,"uniquePromotersCount":100,"liquidityCount":1816,"parentListId":null}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/markets/[id]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::8f49j-1743196778835-dad070e9a9c0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/markets/cm5ifmwfo001g24d2r7fzu34u/positions
  response:
    body:
      string: "{\"data\":[{\"id\":\"cm5s5iwsk0009xu0eqvufobo1\",\"accountId\":\"cm1806j9500013rjvbsnipdnv\",\"marketId\":\"cm5ifmwfo001g24d2r7fzu34u\",\"optionId\":\"cm5ifmwfo001h24d210bt6ek1\",\"cost\":\"100\",\"quantity\":\"-2e-14\",\"value\":\"0\",\"createdAt\":\"2025-01-11T12:17:35.060Z\",\"updatedAt\":\"2025-02-03T23:50:54.171Z\",\"account\":{\"id\":\"cm1806j9500013rjvbsnipdnv\",\"type\":\"USER\",\"internalType\":null,\"userId\":\"cm1806j9500003rjviym3v9c8\",\"marketId\":null,\"createdAt\":\"2024-09-18T15:13:46.587Z\",\"updatedAt\":\"2024-11-21T20:24:02.038Z\",\"user\":{\"id\":\"cm1806j9500003rjviym3v9c8\",\"username\":\"astrosnat\",\"displayName\":\"astrosnat\",\"avatarUrl\":\"https://bijbnpk9x6qrvjzj.public.blob.vercel-storage.com/DALL%C3%82%C2%B7E%202024-02-07%2018.55.32%20-%20Imagine%20a%20vast,%20cosmic%20scene%20where%20a%20giant,%20celestial%20cat,%20its%20fur%20shimmering%20with%20the%20colors%20of%20nebulas%20and%20star%20clusters,%20extends%20a%20massive%20tongue%20t-MdDszadj60v45rw1XNBWogSBgqyWDo.webp\",\"twitterHandle\":null,\"discordHandle\":null,\"website\":null,\"bio\":\"I
        just really like science and forecasting I guess\",\"timezone\":\"America/Los_Angeles\",\"primaryAccountId\":\"cm1806j9500013rjvbsnipdnv\",\"role\":\"USER\",\"referralCode\":\"L2Y2\",\"referredBy\":null,\"createdAt\":\"2024-09-18T15:13:46.587Z\",\"updatedAt\":\"2024-10-03T07:02:34.064Z\"}},\"market\":{\"id\":\"cm5ifmwfo001g24d2r7fzu34u\",\"question\":\"Playmoney
        API python wrapper in January 2025?\",\"description\":\"<p>I plan to create
        a manifoldpy-style wrapper for playmoney.</p><p>Resolves to YES if all basic
        API actions can be performed using publicly available code at the end of the
        month.</p>\",\"slug\":\"playmoney-api-python-wrapper-in-january-2025\",\"closeDate\":\"2025-02-03T23:50:54.104Z\",\"resolvedAt\":\"2025-02-03T23:50:54.104Z\",\"canceledAt\":null,\"canceledById\":null,\"createdBy\":\"clzrooq660000a2uznm33y25b\",\"tags\":[\"programming\",\"api\",\"python\",\"playmoney\",\"software-development\"],\"ammAccountId\":\"cm5ifmwfo001j24d2s5b1c7t3\",\"clearingAccountId\":\"cm5ifmwfo001k24d2kb21lr27\",\"createdAt\":\"2025-01-04T17:02:55.669Z\",\"updatedAt\":\"2025-02-03T23:50:54.104Z\",\"commentCount\":4,\"uniqueTradersCount\":5,\"uniquePromotersCount\":100,\"liquidityCount\":1816,\"parentListId\":null},\"option\":{\"id\":\"cm5ifmwfo001h24d210bt6ek1\",\"name\":\"Yes\",\"marketId\":\"cm5ifmwfo001g24d2r7fzu34u\",\"color\":\"#9c27b0\",\"liquidityProbability\":\"0.5\",\"createdAt\":\"2025-01-04T17:02:55.667Z\",\"updatedAt\":\"2025-01-11T12:17:35.887Z\",\"probability\":71}},{\"id\":\"cm5ocnbxq0009d3yym29fx40b\",\"accountId\":\"cm47mdglk0001fgr94z6s8qjn\",\"marketId\":\"cm5ifmwfo001g24d2r7fzu34u\",\"optionId\":\"cm5ifmwfo001h24d210bt6ek1\",\"cost\":\"333\",\"quantity\":\"0\",\"value\":\"0\",\"createdAt\":\"2025-01-08T20:25:53.873Z\",\"updatedAt\":\"2025-02-03T23:50:54.171Z\",\"account\":{\"id\":\"cm47mdglk0001fgr94z6s8qjn\",\"type\":\"USER\",\"internalType\":null,\"userId\":\"cm47mdglk0000fgr9in2lssil\",\"marketId\":null,\"createdAt\":\"2024-12-02T22:46:22.280Z[...]
[...]
