interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/transactions?limit=100&sortDirection=desc
  response:
    body:
      string: '{"data":[{"id":"cm8vocll0002kt58294mm43xy","type":"DAILY_TRADE_BONUS","initiatorId":"clykuewwe0000g4933zh8btxa","isReverse":null,"reverseOfId":null,"createdAt":"2025-03-30T13:26:58.878Z","updatedAt":"2025-03-30T13:26:58.878Z","batchId":null,"marketId":"cm8ryicth0000bx5lsvwybs38","entries":[{"id":"cm8vocll0002mt582vkwveaca","amount":"100","assetType":"CURRENCY","assetId":"PRIMARY","fromAccountId":"c66cc328eca3310e3c1a375cd","toAccountId":"c66cc328e361a3fa157f96b35","transactionId":"cm8vocll0002kt58294mm43xy","createdAt":"2025-03-30T13:26:58.878Z"}],"market":{"id":"cm8ryicth0000bx5lsvwybs38","question":"Will
        Trump set foot in Greenland by the end of July?","description":"<p></p><p>This
        was cross-posted from <a target=\"_blank\" rel=\"noopener noreferrer nofollow\"
        href=\"https://manifold.markets/strutheo/will-trump-set-foot-in-greenland-by\">Manifold
        Markets</a>.</p>","slug":"will-trump-set-foot-in-greenland-by-the-end-of","closeDate":"2025-07-31T23:59:00.000Z","resolvedAt":null,"canceledAt":null,"canceledById":null,"createdBy":"clydnp6q7000srhzn3zrtd0le","tags":[],"ammAccountId":"cm8ryicth0003bx5lva20qna6","clearingAccountId":"cm8ryicth0004bx5l0tagvp99","createdAt":"2025-03-27T23:00:18.917Z","updatedAt":"2025-03-30T13:26:58.358Z","commentCount":0,"uniqueTradersCount":2,"uniquePromotersCount":0,"liquidityCount":1500,"parentListId":null},"initiator":{"id":"clykuewwe0000g4933zh8btxa","username":"odoacre","displayName":"Odoacre","avatarUrl":"https://bijbnpk9x6qrvjzj.public.blob.vercel-storage.com/0_3.avatar2-xNMeVv9NeA9J9d5oBvQdyUE54d30oK.png","twitterHandle":null,"discordHandle":null,"website":null,"bio":null,"timezone":"Australia/Sydney","primaryAccountId":"c66cc328e361a3fa157f96b35","role":"USER","referralCode":"8CZC","referredBy":null,"createdAt":"2024-07-14T00:54:13.263Z","updatedAt":"2025-02-23T10:57:15.642Z"},"options":[]},{"id":"cm8voclgz001zt5824xl2r06m","type":"LIQUIDITY_VOLUME_BONUS","initiatorId":null,"isReverse":null,"reverseOfId":null,"createdAt":"2025-03-30T13:26:58.733Z","updatedAt":"2025-03-30T13:26:58.733Z","batchId":null,"marketId":"cm8ryicth0000bx5lsvwybs38","entries":[{"id":"cm8voclgz0021t5828n258b3u","amount":"35.4167","assetType":"CURRENCY","assetId":"PRIMARY","fromAccountId":"c66cc328eca3310e3c1a375cd","toAccountId":"cm0ioq1nl0001v2k938ceo66v","transactionId":"cm8voclgz001zt5824xl2r06m","creat[...]
[...]
