interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/users/clzrooq660000a2uznm33y25b
  response:
    body:
      string: '{"data":{"id":"clzrooq660000a2uznm33y25b","username":"jgyou","displayName":"jgyou","avatarUrl":null,"twitterHandle":null,"discordHandle":null,"website":null,"bio":"https://manifold.markets/jgyou","timezone":"America/New_York","primaryAccountId":"c66cc328ef6c13d1767417889","role":"USER","referralCode":"J2P2","referredBy":null,"createdAt":"2024-08-13T00:27:58.974Z","updatedAt":"2024-10-01T05:40:44.407Z"}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/users/[id]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::8jw6l-1743196776243-598e0fd775d9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/users/clzrooq660000a2uznm33y25b/balance
  response:
    body:
      string: '{"data":{"balance":{"id":"cm0apnmy2006765jiw2hh66f4","accountId":"c66cc328ef6c13d1767417889","assetType":"CURRENCY","assetId":"PRIMARY","total":11532.314289074551,"subtotals":{"TRADE_BUY":-120012,"TRADE_WIN":72447.08872348374,"TRADE_SELL":10118.50726559081,"DAILY_TRADE_BONUS":13500,"LIQUIDITY_DEPOSIT":-37591,"DAILY_MARKET_BONUS":29000,"HOUSE_SIGNUP_BONUS":20000,"LIQUIDITY_RETURNED":6225.4701,"DAILY_COMMENT_BONUS":4950,"CREATOR_TRADER_BONUS":5850,"LIQUIDITY_INITIALIZE":-31600,"DAILY_LIQUIDITY_BONUS":34750,"LIQUIDITY_VOLUME_BONUS":3735.0289},"marketId":null,"createdAt":"2024-08-26T08:02:45.097Z","updatedAt":"2025-03-28T14:24:12.129Z"}}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/users/[id]/balance
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::fldgt-1743196776338-0e429f0be638
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/users/clzrooq660000a2uznm33y25b/balance
  response:
    body:
      string: '{"data":{"balance":{"id":"cm0apnmy2006765jiw2hh66f4","accountId":"c66cc328ef6c13d1767417889","assetType":"CURRENCY","assetId":"PRIMARY","total":11532.314289074551,"subtotals":{"TRADE_BUY":-120012,"TRADE_WIN":72447.08872348374,"TRADE_SELL":10118.50726559081,"DAILY_TRADE_BONUS":13500,"LIQUIDITY_DEPOSIT":-37591,"DAILY_MARKET_BONUS":29000,"HOUSE_SIGNUP_BONUS":20000,"LIQUIDITY_RETURNED":6225.4701,"DAILY_COMMENT_BONUS":4950,"CREATOR_TRADER_BONUS":5850,"LIQUIDITY_INITIALIZE":-31600,"DAILY_LIQUIDITY_BONUS":34750,"LIQUIDITY_VOLUME_BONUS":3735.0289},"marketId":null,"createdAt":"2024-08-26T08:02:45.097Z","updatedAt":"2025-03-28T14:24:12.129Z"}}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/users/[id]/balance
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::tfhbg-1743196776462-b6b4f5163f12
    status:
      code: 200
      message: OK
version: 1
