interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/users/clzrooq660000a2uznm33y25b
  response:
    body:
      string: '{"data":{"id":"clzrooq660000a2uznm33y25b","username":"jgyou","displayName":"jgyou","avatarUrl":null,"twitterHandle":null,"discordHandle":null,"website":null,"bio":"https://manifold.markets/jgyou","timezone":"America/New_York","primaryAccountId":"c66cc328ef6c13d1767417889","role":"USER","referralCode":"J2P2","referredBy":null,"createdAt":"2024-08-13T00:27:58.974Z","updatedAt":"2024-10-01T05:40:44.407Z"}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/users/[id]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::iad1::rgczd-1743368898691-d348ba499331
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/users/clzrooq660000a2uznm33y25b/transactions
  response:
    body:
      string: '{"data":[{"id":"cm8svih2c0002rahordjmqjr4","type":"TRADE_BUY","initiatorId":"clzrooq660000a2uznm33y25b","isReverse":null,"reverseOfId":null,"createdAt":"2025-03-28T14:24:11.743Z","updatedAt":"2025-03-28T14:24:11.743Z","batchId":null,"marketId":"clzkcln620001mizr49tnxw43","entries":[{"id":"cm8svih2c0004rahoow2a0qz7","amount":"100","assetType":"CURRENCY","assetId":"PRIMARY","fromAccountId":"c66cc328ef6c13d1767417889","toAccountId":"c66cc328e12561b87197fa702","transactionId":"cm8svih2c0002rahordjmqjr4","createdAt":"2025-03-28T14:24:11.743Z"},{"id":"cm8svih2c0005rahoqls4h215","amount":"100","assetType":"MARKET_OPTION","assetId":"clzkcln620002mizr7a4h8dcg","fromAccountId":"c66cc328e12561b87197fa702","toAccountId":"c66cc328e17c467cfbe774a67","transactionId":"cm8svih2c0002rahordjmqjr4","createdAt":"2025-03-28T14:24:11.743Z"},{"id":"cm8svih2c0006raho7oyudics","amount":"100","assetType":"MARKET_OPTION","assetId":"clzkcln620003mizrlpiwmv8v","fromAccountId":"c66cc328e12561b87197fa702","toAccountId":"c66cc328e17c467cfbe774a67","transactionId":"cm8svih2c0002rahordjmqjr4","createdAt":"2025-03-28T14:24:11.743Z"},{"id":"cm8svih2c0007raho6pzagni8","amount":"105.81319149090887027","assetType":"MARKET_OPTION","assetId":"clzkcln620003mizrlpiwmv8v","fromAccountId":"c66cc328e17c467cfbe774a67","toAccountId":"c66cc328ef6c13d1767417889","transactionId":"cm8svih2c0002rahordjmqjr4","createdAt":"2025-03-28T14:24:11.743Z"}],"market":{"id":"clzkcln620001mizr49tnxw43","question":"Which
        spacecraft will the astronauts stranded on the Space Station return on?","description":"","slug":"which-spacecraft-will-the-astronauts-stranded-on","closeDate":"2025-03-31T15:59:00.000Z","resolvedAt":null,"canceledAt":null,"canceledById":null,"createdBy":"clzeprzoj000712jcu1j1wafr","tags":["space","spacecraft","astronaut-return","space-station-missions"],"ammAccountId":"c66cc328e17c467cfbe774a67","clearingAccountId":"c66cc328e12561b87197fa702","createdAt":"2024-08-07T21:15:16.357Z","updatedAt":"2025-03-28T14:24:11.787Z","commentCount":4,"uniqueTradersCount":6,"uniquePromotersCount":1,"liquidityCount":5550,"parentListId":null},"initiator":{"id":"clzrooq660000a2uznm33y25b","username":"jgyou","displayName":"jgyou","avatarUrl":null,"twitterHandle":null,"discordHandle":null,"website":null,"bio":"https://manifold.markets/jgyou","timezone":"America/New_York","primaryAccountId":"c66cc328ef6c13d1767417889","role":"USER","referralCode":"J2P2","referredBy":null,"createdAt":"2024-08-13T00:27:58.974Z","updatedAt":"2024-10-01T05:40:44.407Z"},"options":[{"id":"clzkcln620003mizrlpiwmv8v","name":"SpaceX
        Dragon","marketId":"clzkcln620001mizr49tnxw43","color":"#EC4899","liquidityProbability":"0.5","createdAt":"2024-08-07T21:15:16.488Z","updatedAt":"2025-03-28T14:24:12.014Z","probability":95}]},{"id":"cm8pycfg30002yssvqv2n2y8d","type":"TRADE_BUY","initiatorId":"clzrooq660000a2uznm33y25b","isReverse":null,"reverseOfId":null,"createdAt":"2025-03-26T13:20:10.028Z","updatedAt":"2025-03-26T13:20:10.028Z","batchId":null,"marketId":"clzkcln620001mizr49tnxw43","entries":[{"id":"cm8pycfg30004yssvpri50owp","amount":"3100","assetType":"CURRENCY","assetId":"PRIMARY","fromAccountId":"c66cc328ef6c13d1767417889","toAccountId":"c66cc328e12561b87197fa702","transactionId":"cm8pycfg30002yssvqv2n2y8[...]
[...]
