interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/users/clzrooq660000a2uznm33y25b
  response:
    body:
      string: '{"data":{"id":"clzrooq660000a2uznm33y25b","username":"jgyou","displayName":"jgyou","avatarUrl":null,"twitterHandle":null,"discordHandle":null,"website":null,"bio":"https://manifold.markets/jgyou","timezone":"America/New_York","primaryAccountId":"c66cc328ef6c13d1767417889","role":"USER","referralCode":"J2P2","referredBy":null,"createdAt":"2024-08-13T00:27:58.974Z","updatedAt":"2024-10-01T05:40:44.407Z"}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/users/[id]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::rxtdg-1743219764844-8845b19301e9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/users/clzrooq660000a2uznm33y25b/positions?status=all&limit=10&sortDirection=asc
  response:
    body:
      string: "{\"data\":[{\"id\":\"cm0u9ehvw000gy8ukox4qsail\",\"accountId\":\"c66cc328ef6c13d1767417889\",\"marketId\":\"cm0g9mbm2000042kp2i3s2o1d\",\"optionId\":\"cm0g9mbm2000142kp0d416326\",\"cost\":\"10\",\"quantity\":\"0\",\"value\":\"0\",\"createdAt\":\"2024-09-09T00:23:08.207Z\",\"updatedAt\":\"2024-10-01T21:02:51.462Z\",\"account\":{\"id\":\"c66cc328ef6c13d1767417889\",\"type\":\"USER\",\"internalType\":null,\"userId\":\"clzrooq660000a2uznm33y25b\",\"marketId\":null,\"createdAt\":\"2024-08-26T07:45:17.509Z\",\"updatedAt\":\"2024-08-26T07:45:17.509Z\",\"user\":{\"id\":\"clzrooq660000a2uznm33y25b\",\"username\":\"jgyou\",\"displayName\":\"jgyou\",\"avatarUrl\":null,\"twitterHandle\":null,\"discordHandle\":null,\"website\":null,\"bio\":\"https://manifold.markets/jgyou\",\"timezone\":\"America/New_York\",\"primaryAccountId\":\"c66cc328ef6c13d1767417889\",\"role\":\"USER\",\"referralCode\":\"J2P2\",\"referredBy\":null,\"createdAt\":\"2024-08-13T00:27:58.974Z\",\"updatedAt\":\"2024-10-01T05:40:44.407Z\"}},\"market\":{\"id\":\"cm0g9mbm2000042kp2i3s2o1d\",\"question\":\"Who
        will be PlayMoney's top trader in September 2024?\",\"description\":\"<p>Resolve
        to the leader on the leaderboard <a target=\\\"_blank\\\" rel=\\\"noopener
        noreferrer nofollow\\\" class=\\\"text-primary\\\" href=\\\"https://playmoney.dev/leaderboard\\\">https://playmoney.dev/leaderboard</a></p>\",\"slug\":\"who-will-be-playmoneys-top-trader-in-september\",\"closeDate\":\"2024-10-01T21:02:51.422Z\",\"resolvedAt\":\"2024-10-01T21:02:51.422Z\",\"canceledAt\":null,\"canceledById\":null,\"createdBy\":\"clyaz02c500008my2vxivkyaa\",\"tags\":[\"finance\",\"trading\",\"cryptocurrency\",\"playmoney\"],\"ammAccountId\":\"cm0g9mbm2000a42kpeitvwa2y\",\"clearingAccountId\":\"cm0g9mbm2000b42kprt29m5vw\",\"createdAt\":\"2024-08-30T05:20:26.954Z\",\"updatedAt\":\"2024-10-01T21:02:51.422Z\",\"commentCount\":0,\"uniqueTradersCount\":4,\"uniquePromotersCount\":2,\"liquidityCount\":1763,\"parentListId\":null},\"option\":{\"id\":\"cm0g9mbm2000142kp0d416326\",\"name\":\"Nikki\",\"marketId\":\"cm0g9mbm2000042kp2i3s2o1d\",\"color\":\"#03a9f4\",\"liquidityProbability\":\"0.11111111111111111111\",\"createdAt\":\"2024-08-30T05:20:26.948Z\",\"updatedAt\":\"2024-09-29T18:21:22.869Z\",\"probability\":3}},{\"id\":\"cm0u9eusm0009lview2gik4if\",\"accountId\":\"c66cc328ef6c13d1767417889\",\"marketId\":\"cm0rc0ksi002luw68mkvdakq1\",\"optionId\":\"cm0rc0ksi002nuw68njjwr0j3\",\"cost\":\"100\",\"quantity\":\"190.9090909090909\",\"value\":\"107.32366505293412131\",\"createdAt\":\"2024-09-09T00:23:24.969Z\",\"updatedAt\":\"2024-09-17T23:54:55.602Z\",\"account\":{\"id\":\"c66cc328ef6c13d1767417889\",\"type\":\"USER\",\"internalType\":null,\"userId\":\"clzrooq660000a2uznm33y25b\",\"marketId\":null,\"cre[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/users/clzrooq660000a2uznm33y25b/positions?cursor=cm1cje3o40009lsnpoacln9yi&status=all&limit=10&sortDirection=asc
  response:
    body:
      string: "{\"data\":[{\"id\":\"cm1e5avz7000912y9ysthscht\",\"accountId\":\"c66cc328ef6c13d1767417889\",\"marketId\":\"cm1cj511q0000giu9xq02rc4i\",\"optionId\":\"cm1cj511q0001giu9v8h8oq2h\",\"cost\":\"173.4979372024536165\",\"quantity\":\"0\",\"value\":\"0\",\"created[...]
