interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/users/clzrooq660000a2uznm33y25b
  response:
    body:
      string: '{"data":{"id":"clzrooq660000a2uznm33y25b","username":"jgyou","displayName":"jgyou","avatarUrl":null,"twitterHandle":null,"discordHandle":null,"website":null,"bio":"https://manifold.markets/jgyou","timezone":"America/New_York","primaryAccountId":"c66cc328ef6c13d1767417889","role":"USER","referralCode":"J2P2","referredBy":null,"createdAt":"2024-08-13T00:27:58.974Z","updatedAt":"2024-10-01T05:40:44.407Z"}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/users/[id]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::j6vpm-1743196776032-a3c18de37cb8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playmoney.dev/v1/users/clzrooq660000a2uznm33y25b
  response:
    body:
      string: '{"data":{"id":"clzrooq660000a2uznm33y25b","username":"jgyou","displayName":"jgyou","avatarUrl":null,"twitterHandle":null,"discordHandle":null,"website":null,"bio":"https://manifold.markets/jgyou","timezone":"America/New_York","primaryAccountId":"c66cc328ef6c13d1767417889","role":"USER","referralCode":"J2P2","referredBy":null,"createdAt":"2024-08-13T00:27:58.974Z","updatedAt":"2024-10-01T05:40:44.407Z"}}'
    headers:
      Content-Type:
      - application/json
      X-Matched-Path:
      - /api/v1/users/[id]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::tkh72-1743196776141-1ddc83ec13e0
    status:
      code: 200
      message: OK
version: 1
